<%- include("header") -%>

        <div class="box" id="heading">
            <h1><%= listTitle %></h1>
        </div>

        <div class="box">
            <% if (listItems.length === 0) { %>
                <div class="item">
                    <p>To Do List is empty!</p>
                </div>
            <% } else { %>
                <% for (let i=0; i < listItems.length; i++) { %>
                    <div class="item">
                        <input type="checkbox">
                        <p><%= listItems[i] %></p>
                    </div>
                <% } %>
            <% } %>

            <form class="item" action="/" method="post">
                <input type="text" placeholder="New Item" name="newItem" autocomplete="off">
                <button type="submit" name="list" value="<%= listTitle %>"">+</button>
            </form>
        </div>

<%- include("footer") -%>
        
        
        

        

